<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Album Cover Browser</title>
    <style>
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: Arial;
    }

    .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        padding: 0 0px;
    }

    /* Create four equal columns that sits next to each other */
    .column {
        -ms-flex: 12.5%; /* IE10 */
        flex: 12.5%;
        max-width: 12.5%;
        padding: 0 0px;
    }

    .column img {
        margin-top: 0px;
        vertical-align: middle;
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
        .column {
            -ms-flex: 50%;
            flex: 50%;
            max-width: 50%;
        }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .column {
            -ms-flex: 100%;
            flex: 100%;
            max-width: 100%;
        }
    }
    </style>
  </head>
  <body>
    <div class="row"> 
      <% if albums.size < 6 %>
        <% albums.each do |album| %>
          <div class="column">
            <img async src="<%= album.image %>" style="width:100%">
          </div>
        <% end %>
      <% else %>
        <% albums.each_slice((albums.size / 8.to_f).round) do |slice| %>
          <div class="column">
            <% slice.each do |album| %>
              <img async src="<%= album.image %>" style="width:100%">
            <% end %>
          </div>
        <% end %>
      <% end %>
  </body>
</html>
